[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = ">=3.2.4,<3.3"
djangorestframework = ">=3.12.4,<3.13"
psycopg2-binary = ">=2.8.6<2.9"
drf-spectacular = "<0.16,>=0.15.1"

[dev-packages]
flake8 = ">=3.9.2,<3.10"
pre-commit = ">=3.6.0,<3.7"
autopep8 = ">=1.5.7"

[requires]
python_version = "3.9"

[scripts]
start = "python manage.py runserver 0.0.0.0:8000"
